$BgColor: rgb(173, 194, 196);
$PageColor: rgb(114, 208, 202);
$PageColorDarker: rgb(43, 148, 141);

@mixin alignCenter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@keyframes BorderAnimLeftRight {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
@keyframes BorderAnimTopBottom {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}
@keyframes BorderAnimRightLeft {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes BorderAnimBottomTop {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}


@keyframes SmallBig{
    0%{
        height: 20px;
        background-color: black;
    }
    100%{
        height: 120px;
        background-color: $PageColor;
    }
}


// Font Styles

// font-family: 'Dancing Script', cursive;
// font-family: 'Julius Sans One', sans-serif;
// font-family: 'Monoton', cursive;
// font-family: 'Press Start 2P', cursive;
// font-family: 'Righteous', cursive;

// font-family: 'Montserrat Subrayada', sans-serif;
// font-family: 'Rambla', sans-serif;


.HomePage{
    position:  absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    font-family: 'Rambla', sans-serif;
    scroll-behavior: smooth;

    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh;
    grid-template-areas:
    "LeftBox RightBox";
    
    .LeftBox{
        z-index: 1;
        position: relative;
        grid-area: LeftBox;
        background-color: black;
        @include alignCenter();
        flex-direction: column;
        overflow: hidden;

        #GridAnim{
            position: absolute;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            background-color: transparent;

            span{
                width: 80%;
                height: 80%;
                background-color: rgba(114, 208, 202, 0.255);
                border-radius: 5px;
                margin-top: 8px;
            }
        }

        .MainTitle{
            position: relative;
            background-color: transparent;
            font-size: clamp(45px, 4vw, 70px);
            font-family: 'Montserrat Subrayada', sans-serif;
            text-shadow: 0px 0px 5px white;
        }

        .SubTitle{
            font-size: clamp(15px,4vw,25px);
            margin: 0px 50px;
            text-align: center;
            letter-spacing: 5px;
        }

        .MainLogo{
            fill: white;
            width: #{"min(450px,70%)"};
            height: auto;
        }

    }

    .RightBox{
        z-index: 1;
        position:  relative;
        grid-area: RightBox;
        background-color: black;
        @include alignCenter();
        flex-direction: column;
        // background-color: white;

        .QuestTitle{
            font-size: clamp(20px, 2vw, 45px);
            text-align: center;   
            margin: 0px 50px;
            letter-spacing: 2px;
            color: $PageColor;
        }

        .QuestBox{
            position: relative;
            height: 35%;
            width: 80%;
            border: 2px solid white;
            // box-shadow: 0px 0px 10px white;
            border-radius: 40px;
            background-color: $PageColorDarker;
            overflow: scroll;

            .What,.Why{
                position: relative;
                width: 100%;
                height: 50%;
                @include alignCenter();
                flex-direction: column;
                background-color: transparent;
                transition: height 1s;
                cursor: pointer;

                &:hover{
                    .TitleBox{
                        svg{
                            fill: black;
                            transition: fill 500ms;
                        }
                    }
                }

    
                .TitleBox{
                    position: relative;
                    @include alignCenter();
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    color: black;
                    @include alignCenter();
                    // flex-direction: column;
                    border-top: 2px solid white;


                    h2{
                        position: relative;
                        background-color: transparent;
                        text-align: center;
                        width: 70%;
                        color: black;
                        transition: opacity 500ms;
                        // letter-spacing: 4px;
                        // font-family: 'Montserrat Subrayada', sans-serif;
                        // font-family: 'Rambla', sans-serif;
                    }

                    .h2-1{
                        font-size: clamp(1.5rem,2vw,2.5rem);
                    }   
                    .h2-2{
                        font-size: clamp(1.2rem,2vw,2rem);  
                    }

                    svg{
                        position: relative;
                        fill: white;
                        background-color: transparent;
                        width: 50px;
                        height: 50px;
                        transition: fill 1s;
                    }
                    
                }

                         
                p{
                    position: absolute;
                    overflow: scroll;
                    height: 60%;
                    width: 70%;
                    left: 7%;
                    color: black;
                    font-size: 1.1rem;
                    // background-color: red;
                    opacity: 0;
                    background-color: transparent;
                    transition: all 200ms;
                }       
            }
        }

        .QuestButton{
            position: relative;
            padding: 20px 40px;
            cursor: pointer;
            font-family: 'Montserrat Subrayada', sans-serif;

            background-color: white;
            
            transition: background-color 500ms, color 500ms;
            // transition: background-color 300ms;
            // transition-delay: 5s;
            overflow: hidden;

            p{
                background-color: transparent;
                font-size: 40px;
                color: $PageColorDarker;
                transition: color 500ms;
                // text-shadow: 0px 5px 1px black;
            }

            p::before{
                content: "";
                position: absolute;
                height: 12px;
                width: 100%;
                top: 0%;
                left: 0%;
                background: linear-gradient(to right, white, $PageColorDarker);
                animation: BorderAnimLeftRight 2s linear 0ms infinite;
                
            }
            
            p::after{
                content: "";
                position: absolute;
                height: 100%;
                width: 12px;
                top: 0%;
                left: 0%;
                background: linear-gradient(to top, white, $PageColorDarker);
                transition: height 500ms;
                animation: BorderAnimBottomTop 2s linear 3s infinite;
            }

            .liquid::before{
                content: "";
                position: absolute;
                height: 100%;
                width: 12px;
                bottom: 0%;
                right: 0%;
                background: linear-gradient(to bottom, white, $PageColorDarker);
                transition: height 500ms;
                animation: BorderAnimTopBottom 2s linear 1s infinite;
            }

            .liquid::after{
                content: "";
                position: absolute;
                width: 100%;
                height: 12px;
                bottom: 0%;
                right: 0%;
                background: linear-gradient(to left, white, $PageColorDarker);
                transition: width 500ms;
                animation: BorderAnimRightLeft 2s linear 2s infinite;
            }
            
            &:hover{
                background-color: $PageColorDarker;
                p{
                    color: white;
                    transition: color 500ms;
                }
                transition: background-color 500ms;
            }

        }
    }

    .MainBox{
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        display: grid;
    
        h1{
            font-family: 'Montserrat Subrayada', sans-serif;
            font-size: clamp(40px,4vw,50px);
            // padding: 0px 40px;
            // padding-top: 20px;
            @include alignCenter();
            color: $PageColor;
            // margin-top: 40px;
            // margin-right: 40px;
            // margin-bottom: 0px;
        }

        form{
            // margin-left: 5%;
            position: relative;
            width: 100%;
            height: 80vh;
            background-color: transparent;
            color: white;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: 
            "First Second";
            

            input, label, select{
                margin: 0px 20px;
            }

            label{
                font-size: clamp(15px, 2vw, 20px);
            }

            select{
                height: 30px;
                width: 50%;
            }
            
            .First{
                @include alignCenter();
                grid-area: First;
                position: relative;
                overflow: hidden;
                flex-direction: column;
                align-items: flex-start;
                
            }
            .Second{
                @include alignCenter();
                grid-area: Second;
                position: relative;
                overflow: hidden;
                flex-direction: column;
                align-items: flex-start;

                .SubmitButton{
                    position: relative;
                    align-self: center;
                    padding: 10px 20px;
                    cursor: pointer;
                    font-family: 'Montserrat Subrayada', sans-serif;

                    background-color: white;
                    transition: background-color 500ms, color 500ms;
                    overflow: hidden;

                    p{
                        background-color: transparent;
                        font-size: 30px;
                        color: $PageColorDarker;
                        transition: color 500ms;
                        // text-shadow: 0px 5px 1px black;
                    }

                    p::before{
                        content: "";
                        position: absolute;
                        height: 8px;
                        width: 100%;
                        top: 0%;
                        left: 0%;
                        background: linear-gradient(to right, white, $PageColorDarker);
                        animation: BorderAnimLeftRight 2s linear 0ms infinite;
                        
                    }
                    
                    p::after{
                        content: "";
                        position: absolute;
                        height: 100%;
                        width: 8px;
                        top: 0%;
                        left: 0%;
                        background: linear-gradient(to top, white, $PageColorDarker);
                        transition: height 500ms;
                        animation: BorderAnimBottomTop 2s linear 3s infinite;
                    }

                    .liquid::before{
                        content: "";
                        position: absolute;
                        height: 100%;
                        width: 8px;
                        bottom: 0%;
                        right: 0%;
                        background: linear-gradient(to bottom, white, $PageColorDarker);
                        transition: height 500ms;
                        animation: BorderAnimTopBottom 2s linear 1s infinite;
                    }

                    .liquid::after{
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 8px;
                        bottom: 0%;
                        right: 0%;
                        background: linear-gradient(to left, white, $PageColorDarker);
                        transition: width 500ms;
                        animation: BorderAnimRightLeft 2s linear 2s infinite;
                    }
                    
                    &:hover{
                        background-color: $PageColorDarker;
                        p{
                            color: white;
                            transition: color 500ms;
                        }
                        transition: background-color 500ms;
                    }

                }
            }

        }

        #Result{
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 5;
            cursor: pointer;
            left: -101%;
            background-color: rgba(255, 255, 255, 0.344);
            @include alignCenter();

            .ResultsBox{
                position: relative;
                width: 300px;
                height: 300px;
                background-color: $PageColorDarker;
                @include alignCenter();
                flex-direction: column;
                overflow: hidden;

                h4{
                    background-color: transparent;
                    font-size: 30px;
                    color: black;
                    text-decoration: underline;
                }

                h2{
                    background-color: transparent;
                    font-size: 25px;
                    margin: 0px 20px;
                    text-align: center;
                }

                p{
                    background-color: transparent;
                    margin: 15px;
                    text-align: center;
                    font-size: 20px;


                }
            }

            .HomeButton{
                position: absolute;
                top: 20px;
                right: 20px;
                width: 80px;
                height: 80px;
                @include alignCenter();
                background-color: white;
                border-radius: 10px;
                svg{
                    fill: $PageColorDarker;
                    height: 80%;
                    background-color: transparent;
                    width: 80%;
                }
            }
        }

    }

    .Loader{
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 5;
        background-color: white;
        @include alignCenter();
        flex-direction: column;

        .MainBox{
            position: relative;
            width: 300px;
            height: 400px;
            @include alignCenter();
            flex-direction: column;
            background-color: transparent;

            .AnimBox{
                position: relative;
                height: 70%;
                width: 100%;
                background-color: transparent;
                @include alignCenter();

                div{
                    position: relative;
                    width: 15px;
                    height: 120px;
                    border-radius: 20px;
                    box-shadow: 3px 0px 5px black;
                    background-color: black;
                }

                .Box1{
                    animation: SmallBig 1s linear infinite 400ms alternate;
                }
                .Box2{
                    animation: SmallBig 1s linear infinite 100ms alternate;
                }
                .Box3{
                    animation: SmallBig 1s linear infinite 0ms alternate;
                }
                .Box4{
                    animation: SmallBig 1s linear infinite 0ms alternate;
                }
                .Box5{
                    animation: SmallBig 1s linear infinite 100ms alternate;
                }
                .Box6{
                    animation: SmallBig 1s linear infinite 400ms alternate;
                }
            }

            h1{
                background-color: transparent;
                color: $PageColorDarker;
            }
        }

        .MovingBox{
            position: absolute;
            top: 5%;
            left: 0%;
            width: 100%;
            height: 90%;
            background-color: $PageColorDarker;
            transform: translateY(120%);
        }

    }
}

@media (max-width: 1000px){
    .HomePage{
        grid-template-columns: 1fr;
        grid-template-rows: 100vh 120vh ;
        grid-template-areas:
        "LeftBox"
        "RightBox";   

        .MainBox{

            form{
                grid-template-columns: 1fr;
                grid-template-rows: 100vh 100vh;
                grid-template-areas: 
                "First"
                "Second";
            }
        }
    }
}

